body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 919px;
  max-height: 919px;
}

.number-slide1 {
  height: 919px;
  background-image: url("/images/1.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 1920px 919px;
  font-family: 'Montserrat';
  font-size: 40px;
}

.number-slide2 {
  background-image: url("/images/2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 1920px 919px;
  font-family: 'Montserrat';
  font-size: 40px;
}

.number-slide3 {
  background-image: url("/images/555555.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 1920px 919px;
  font-family: 'Montserrat';
  font-size: 40px;
}

.number-slide4 {
  background-image: url("/images/9999.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 1920px 919px;
  font-family: 'Montserrat';
  font-size: 40px;
}

.number-slide5 {
  background-image: url("/images/2222.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-color: white;
  font-family: 'Montserrat';
  font-size: 40px;
}
.keen-slider {
  position: relative;
}
.header {
  max-width: 1920px;
  width: 100%;
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  z-index: 900;
}
.logo-div {
  max-width: 600px;
  width: 100%;
}
.logo-img {
  max-width: 600px;
  width: 100%;
}
.search {
  max-width: 400px;
  width: 100%;
  height: 36px;
  font-family: 'Montserrat';
  color: black;
  padding-left: 10px;
}
.search::placeholder {
  font-family: 'Montserrat';
  color: grey;
}
.search-div {
  max-width: 400px;
  width: 100%;
  margin-left: 250px;
}
.navigation-div {
  max-width: 330px;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
.header-text {
  color: black;
  font-family: 'Montserrat';
  font-weight: 500;
  transition: linear 0.2s;
}
.header-text:hover {
  color: #EA0101;
  font-weight: 700;
}
.slide-text {
  font-family: 'Montserrat';
  font-weight: 900;
}

.row1-wrapper {
  display: flex;
  max-width: 1670px;
  width: 100%;
  margin: 50px auto;
  justify-content: space-between;
  height: 570px;
}

.row1-item {
  max-width: 400px;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
}
.header1 {
  max-width: 1920px;
  width: 100%;
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}
.image1 {
  width: 400px;
  height: 520px;
}

.item-name {
  font-family: 'Montserrat';
  font-weight: 800;
}

.item-price{
  font-family: 'Montserrat';
  font-weight: 600;
}

.item-buy {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  background-color: yellow;
  display: flex;
  width: 90px;
  height: 30px;
  align-items: center;
  justify-content: center;
}

.item-text-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}